# - General
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='clear'
alias h='history'
alias dl='cd ~/Downloads'
alias dcm='cd ~/Documents'
alias dt='cd ~/Desktop'
alias p='ps -ef | grep'
alias -g L=' | less'
alias -g G=' | grep'
alias reprof='source ~/.zshrc'
alias rmDS='find . -name *.DS_Store -type f -delete'
alias cpwd="pwd | tr -d '\n' | pbcopy"
alias json="python -m json.tool"

# symfony
alias sfrm='php app/console router:match'
alias assetic='php app/console assetic:dump --env=prod --no-debug'
alias sfrg='sfroute | grep'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag='--color'
else # OS X `ls`
    colorflag='-G'
fi

# List all files colorized in long format
alias l='ls -lF ${colorflag}'

# List all files colorized in long format, including dot files
alias la='ls -laF ${colorflag}'

# List only directories
alias lsd='ls -lF ${colorflag} | grep --color=never '^d''

# Always use color output for `ls`
alias ls='command ls ${colorflag}'
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudoed
alias sudo='sudo '

# Get OS X Software Updates, and update Homebrew, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# One of @janmoesen's ProTips
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# - brew
alias brews='brew list -1'
alias ins='brew install'

# - vim
alias vim='/usr/local/Cellar/vim/7.4.963/bin/vim'
alias vi='vim'
alias svi='sudo vim'

# - vagrant
alias vup='vagrant up'
alias vssh='vagrant ssh'
alias vrl='vagrant reload'

# - nginx
alias nre='sudo nginx -s reload'
alias nse='cd /usr/local/etc/nginx/conf.d'

# - php
alias phprestart='sudo service php5-fpm restart'
alias runfpm='sudo php-fpm --fpm-config /usr/local/etc/php/5.5/php-fpm.conf'
alias cm='php composer.phar'

# - git
alias gci='git commit -am'
alias gupp='sleep 2 && gup && gp' # 2 seconds to think again what you are doing
alias gdm='gd master'
alias grm='git rebase master'
alias gbag='gba G '
alias grtm='gcm && gl && gco - && grm' # rebase current branch from master
alias grbim='grbi master' # interactive rebase from master
alias gcop='gco production'
alias gcob='gco -b'
alias gmm='git merge master'
alias ghist="git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
alias gpp="gupp && gcop && gl && gmm && gp" # push to master and then switch to production branch and merge from master and also push to production
alias ts='tig stash'
alias gcb="git rev-parse --abbrev-ref HEAD | tr -d '\n' | pbcopy" # copy current branch name to clipboard

# - start nginx and php-fpm
alias np='sudo nginx && runfpm'

# - tmux
alias tmux='TERM=screen-256color-bce tmux'
alias tns='tmux new -s'
alias tls='tmux ls'
alias ta='tmux attach -t'

# - edit config files
alias zshrc='svi ~/.zshrc'
alias vimrc='svi ~/.vimrc'
alias tigrc='svi ~/.tigrc'
alias aliases='svi ~/.aliases'
alias edhosts='svi /private/etc/hosts'
alias phpini='svi /usr/local/etc/php/5.5/php.ini'

# modanisa
API_FOLDER="~/code/modanisa55/mdns"
DESKTOP_FRONTEND_FOLDER="~/code/modanisa53/modanisa"
MOBILE_FRONTEND_FOLDER="~/code/modanisa55/mdns-mobil-web"

alias api="cd $API_FOLDER"
alias fr="cd $DESKTOP_FRONTEND_FOLDER"
alias mbfr="cd $MOBILE_FRONTEND_FOLDER"

alias gbahk="gbag hk-"          # all my branches
alias gbahkl="gbag '  hk-'"     # all my local branches
alias gbahkr="gbag '/hk-'"      # all my remote branches

# compile po files
cpo () {
    cd ~/code/modanisa55/mdns/src/Modanisa/Bundle/ApiBundle/Resources/translations
    rm -rf *.mo

    for f in *.po
    do
        echo "$f isleniyor"
        filename="${f%.*}"
        msgfmt "${f}" -o "$filename.mo"
    done

    cd -
}

cpom () {
    cd ~/code/modanisa55/mdns-mobil-web/src/Modanisa/Bundle/MobileBundle/Resources/translations
    rm -rf *.mo

    for f in *.po
    do
        echo "$f isleniyor"
        filename="${f%.*}"
        msgfmt "${f}" -o "$filename.mo"
    done

    cd -
}

# vagrant
alias vcl='vagrant ssh -c "rm -rf mdns/app/cache/dev/*"'
alias vclm='vagrant ssh -c "rm -rf mdns-mobil-web/app/cache/dev/*"'

# scaleway
alias sshsw='ssh whosayin@163.172.180.72'
alias sshsr='ssh root@163.172.180.72'



function mark {
    export $1=`pwd`;
    }
